# WK1 pandas Basics <hr style="border:2.4px solid #126782"> </hr>

Name: **Glenjune R. Guillergan** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [2]:
import pandas as pd 
import numpy as np

Check the **version** of pandas

In [10]:
pd.__version__

'2.2.2'

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [12]:
employee_names = ['Ammy White','Jack Stewart','Richard Lauderdal','Sarah Johnson']
employee_names

['Ammy White', 'Jack Stewart', 'Richard Lauderdal', 'Sarah Johnson']

Verify that the data type of *employee_names* object is a **list**

In [13]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from the *employee_names* list

In [15]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0           Ammy White
1         Jack Stewart
2    Richard Lauderdal
3        Sarah Johnson
dtype: object

Verify that the data type of *employee_names_Series* object is a **pandas Series**

In [16]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5,8,3 and 10

In [18]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

Create a **NumPy Array** object named **array_age**

In [19]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

Verify that the data type *array_age* object is a **NumPy Array**

In [20]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from *array_age*

In [21]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int32

Verify that the data type of *series_age* object is **Series**

In [22]:
type(series_age)

pandas.core.series.Series

Use the **print()** function display the content if *series_age*

In [23]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int32

# pandas DataFrames

Create the given example **DataFrame**

Method 1

In [28]:
data = {
    "Name" :['Amy White', 'jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age" :[50, 53, 35, 43],
    "Working Experience (Yrs.)" :[5, 8, 3, 10]} 
df = pd.DataFrame(data)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

Method 2

In [29]:
name = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
age = [50, 53, 35, 43]
work_exp = [5, 8, 3, 10]

df = pd.DataFrame({
    "Name" :name,
    "Age" :age,
    "Working Experience (Yrs.)" :work_exp
})
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10